<% provide(:title, "About Us") %>
        <h1>About Us</h1>

        <div id="menu">

        <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="plactice.html">Plactice</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="member.html">Member</a></li>
                <li><a href="contact.html">Contact</a></li>
        </ul>

        </div>

        <div class="hi">
        We love basketball!<br>
        <br>
        こんにちは。2010年卒の志賀遥菜（かな）が代表をしております、埼玉県立大宮高等学校のOGチームです。<br>
        

        </div>

<!--footer-->
<div class="footer">

        <p>&copy;Copyright JACK BEANS. All rights reserved.</p>

</div>

