<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Member|JACK BEANS</title>
<link rel="stylesheet" type="text.css" href="css/style-member.css">
</head>
<body>

<h1>Member</h1>

<div id="menu">

	<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="news.html">News</a></li>
		<li><a href="plactice.html">Plactice</a></li>
		<li><a href="about.html">About us</a></li>
		<li><a href="member.html">Member</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>

	</div>

<div id="photo">
	<div class="kana">
		
		<p class="name-kana">Kana</p>
	</div>

	<div class="shino">
		
		<p class="name-shino">Shino</p>
	</div>

	<div class="chika">
		
		<p class="name-chika">Chika</p>
	</div>

	<div class="kayo">
		
		<p class="name-kayo">Kayo</p>
	</div>

	<div class="machi">
		
		<p class="name-machi">Machi</p>
	</div>

	<div class="kei">
		
		<p class="name-kei">Kei</p>
	</div>

	<div class="aya">
		
		<p class="name-aya">Aya</p>
	</div>

	<div class="Leo">
		
		<p class="name-leo">Leo</p>
	</div>

	<div class="sora">
		
		<p class="name-sora">Sora</p>
	</div>

	<div class="nao">
		
		<p class="name-nao">Nao</p>
	</div>



</div>


<!--footer-->
<div class="footer">

	<p>&copy;Copyright JACK BEANS. All rights reserved.</p>

</div>

</body>
</html>