<% provide(:title, "News") %>
<h1>News</h1>

9.May 2015<br>

<strong>★time</strong><br>
17:30~19:30<br>
<strong>★member</strong><br>
<a href="kana.html">Kana</a><br>
<a href="kayo.html">Kayo</a><br>
<a href="shino.html">Shino</a><br>
<a href="leo.html">Leo</a><br>
<a href="sora.html">Sora</a><br>
<strong>★menu</strong><br>
runnninng<br>
strech<br>
pass<br>
runnninng shoot<br>
shooting<br>
2on1<br>
2on2<br>
3on2<br>
3on3<br>


