<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>News|JACK BEANS</title>
<link rel="stylesheet" type="text.css" href="css/style-news.css">
</head>
<body>
	<div>
		<h1>News</h1>

	</div>

	<div id="menu">

		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="news.html">News</a></li>
			<li><a href="plactice.html">Plactice</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="member.html">Member</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</div>
	
	<div>
		<p class="news-top">9.May 2015</p>
		<div class="news-inner">
			<strong class="news-strong">★time</strong><br>
			17:30~19:30<br>
			<strong class="news-strong">★member</strong><br>
			<a href="kana.html">Kana</a><br>
			<a href="kayo.html">Kayo</a><br>
			<a href="shino.html">Shino</a><br>
			<a href="leo.html">Leo</a><br>
			<a href="sora.html">Sora</a><br>
			<strong class="news-strong">★menu</strong><br>
			runnninng<br>
			strech<br>
			pass<br>
			runnninng shoot<br>
			shooting<br>
			2on1<vr>
			2on2<br>
			3on2<br>
			3on3<br>
			

		</div>
	</div>

<!--footer-->
<div class="footer">

	<p>&copy;Copyright JACK BEANS. All rights reserved.</p>

<div>

</body>
</html>
