<% provide(:title, "Plactice") %>

        <h1>Plactice</h1>

        <div id="menu">

        <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="plactice.html">Plactice</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="member.html">Member</a></li>
                <li><a href="contact.html">Contact</a></li>
        </ul>

        </div>

        <div class="near">
                20.June 2015
        </div>

        <div class="day">18.July 2015<br>
                                        26.July 2015<br>
                                        .<br>
                                        .<br>
                                        .<br>
                                        .<br>
                                        .<br>
        </div>

<!--footer-->
<div class="footer">

        <p>&copy;Copyright JACK BEANS. All rights reserved.</p>

<div>

