@charset "UTF-8";

body{
	background-color: #000000;
}

h1{
	font-family: Snap ITC;
	color: #67AF32;
	text-align: center;
	font-size: 700%;
	margin-top: 0px;
}

.upper-h1{
	font-family: Tempus Sans ITC;
	color: #FFFFFF;
	text-align: center;
	font-size: 200%;
	margin-bottom: 0px;
}

/*すべてのページに適用　-navまわり- */
#menu ul{
	margin:0;
	padding:0;
	list-style: none;
}

#menu li{
	padding: 0;
	margin: 0;
	float: left;
}

#menu li a{
	padding: 2px 0px 3px 120px;
	color:#67AF32;
	width:100%;
	margin:1px 0px;
	text-decoration: none;
	font-size: 20px;
	font-family: Tempus Sans ITC;
	color: #FFFF33;
}
.footer{
	color:#FFFFFF;
	float:left;
	position: absolute;
	bottom: 0px;
	padding: 10px 0;
	font-family: Goudy Old Style;
}